$green: #656d26;
$orange: #f16f26;
$yellow: #ed9640;
$blue: #c0d5d2;

.bg-green {
  background-color: $green;
}

.bg-orange {
  background-color: $orange;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-blue {
  background-color: $blue;
}