@import "variables";

.row {
  flex: 1;
  flex-direction: row;
  display: flex;

  &.direction-column {
    flex-direction: column;
  }

  $justify-content-values: (flex-start, flex-end, center, space-between, space-around, space-evenly, start, end, left, right);
  @each $justify-content in $justify-content-values {
    &.justify-#{$justify-content} {
      justify-content: $justify-content;
    }
  }

  $align-items-values: (stretch, flex-start, flex-end, center, baseline, first baseline, last baseline, start, end, self-start, self-end);
  @each $align-items in $align-items-values {
    &.align-#{$align-items} {
      align-items: $align-items;
    }
  }

  $colOptions: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24);


  .col {
    display: inline-block;
    width: 100%;
  }

  @each $colValue in $colOptions {
    .col-#{$colValue} {
      display: inline-block;
      width: percentage($colValue / 24);
    }
  }

  @each $width-key, $width-val in $widthArr {
    @each $colValue in $colOptions {
      @media (min-width: $width-val) {
        .col-#{$width-key}-#{$colValue} {
          display: inline-block;
          width: percentage($colValue / 24);
        }
      }
    }
  }
}