@import "helpers";
@import "grid";


@font-face {
  font-family: "Ageo";
  src: url("/fonts/Ageo/Ageo-Light.otf");
  font-weight: light;
}
@font-face {
  font-family: "Ageo";
  src: url("/fonts/Ageo/Ageo-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Ageo";
  src: url("/fonts/Ageo/Ageo-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Ageo";
  src: url("/fonts/Ageo/Ageo-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: 'Spartan';
  src: url('/fonts/Spartan.ttf');
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Ageo, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #707070;
  letter-spacing: 0.32px;
  line-height: 1.63;

  &:focus {
    outline: none;
  }


  @include mobile {
    font-size: 13px;
  }
}

.number {
  font-family: Spartan, sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

.page {
  padding: 40px 70px;

  @include mobile {
    padding: 20px;
  }

  .back-button {
    width: 149px;
    height: 60px;
    padding: 21px 41px;
    border: solid 1px #707070;
    background-color: transparent;

    @include mobile {
      width: auto;
      height: auto;
      padding: 11px 31px;
    }
  }

  .right-aligned {
    display: flex;
    justify-content: flex-end;
  }

  .project-description {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

    @include mobile {
      display: block;
    }

    .title {
      width: 50% ;

      @include mobile {
        width: 100%;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  h3.title {
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 50px;
    text-align: left;
    color: #707070;

    @include mobile {
      letter-spacing: 20px;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: 2.8px;
      text-align: left;
      color: #707070;

      span {
        display: block;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.21;
        letter-spacing: 0.28px;
        text-align: left;
        color: #707070;
      }
    }
  }

  .description {
    white-space: pre-wrap;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.32px;
    text-align: left;
    color: #707070;

    @include mobile {
      width: 100%;
    }

    a {
      margin-top: 20px;
    }
  }
}