@import "src/styles/colors";
@import "src/styles/variables";
@import "src/styles/helpers";

.home-page {

  .title {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 10px;
    text-align: center;
    color: #707070;
    margin-bottom: 50px;
  }

  .banner-container {
    display: flex;
    align-items: center;
    height: 600px;
    text-align: center;

    @include mobile {
      height: 390px;
    }

    .banner {
      width: 100%;
      position: relative;
      padding: 15%;

      img {
        content:url("/static/images/TITULO.svg");
      }


      @include mobile {
        padding: 0;

        img {
          width: 100%;
          content:url("/static/images/TITULO-MOBILE.svg");
        }
      }

      .text-white {
        color: #FFF;
      }

      .banner-title {
        font-size: 43px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: 38.7px;
        color: #707070;

        &:before {
          content: " ";
          width: 231.5px;
          height: 235.5px;
          background: url("/static/images/manchaTituloVerde.svg") no-repeat;
          position: absolute;
          left: 185px;
          bottom: 160px;
        }

        &:after {
          content: " ";
          width: 116.4px;
          height: 144.5px;
          background: url("/static/images/manchaTituloNaranja.svg") no-repeat;
          position: absolute;
          right: 270px;
          bottom: 320px;
        }

        span {
          position: relative;
          z-index: 100;
        }
      }

      .banner-subtitle {
        font-size: 23px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 81.19px;
        color: #707070;

        span {
          position: relative;
          z-index: 100;
        }
      }
    }
  }

  .contact-info {
    .info-container {
      display: flex;
      flex-direction: column;

      .info {
        font-family: 'Spartan';
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 3.6px;
        text-align: center;
        color: #707070;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .color-dot {
          width: 17px;
          height: 17px;
          border-radius: 50%;
          text-align: center;
          margin-bottom: 10px;
        }

        .label {
          display: block;
        }

        &.mail {
          .color-dot {
            background-color: $green;
          }

          .label {
            color: $green;
          }
        }

        &.linkedin {
          .color-dot {
            background-color: $orange;
          }

          .label {
            color: $orange;
          }
        }

        &.cellphone {
          .color-dot {
            background-color: $yellow;
          }

          .label {
            color: $yellow;
          }
        }
      }
    }
  }
}