@import "src/styles/helpers";

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 140px;

  .link {
    height: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 8px;
    text-align: left;
    color: #707070;
    text-transform: uppercase;
  }
}