@import "../../../styles/helpers";

.blooming-page {

  .project-description {
    .moodboard {

      @include mobile {
        display: none;
      }

      img {
        height: 500px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .evidence {

    @include mobile {
      display: block;
    }

    img {
      height: 240px;
    }


    .logo {
      margin-right: 30px;

      img {
        width: 250px;
        height: 250px;
        margin-right: 50px;
      }

      &:after {
        content: " ";
        width: 1px;
        height: 280px;
        background-color: #707070;
        position: absolute;
      }

      @media (max-width: $lg) {
        &:after {
          content: none;
        }
      }
    }

    .logo-variations {
      .logos {
        text-align: center;
        display: flex;
        justify-content: space-around;

        @include mobile {
          display: block;
        }

        p {
          margin: 0;
          font-size: 18px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.44;
          letter-spacing: 3.6px;
        }
      }
    }

  }

  .graphics-container {
    .graphics {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      img {
        width: 130px;
        height: 130px;
        object-fit: contain;
      }
    }

  }

}